<?xml version="1.0"?>
<robot name="hr4c" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- Transmission macro -->
  <xacro:macro name="SimpleTransmissionPosition" params="joint n">
    <transmission name="tran${n}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint}">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor${n}">
        <hardwareInterface>hardware_interface/PositionJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <!-- Transmission macro -->
  <xacro:macro name="SimpleTransmissionEffort" params="joint n">
    <transmission name="tran${n}">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="motor${n}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <xacro:SimpleTransmissionEffort n="1" joint="j1_right" />
  <xacro:SimpleTransmissionEffort n="2" joint="j2_right" />
  <xacro:SimpleTransmissionEffort n="3" joint="j3_right" />
  <xacro:SimpleTransmissionEffort n="4" joint="j4_right" />
  <xacro:SimpleTransmissionEffort n="5" joint="j5_right" />
  <xacro:SimpleTransmissionEffort n="6" joint="j1_left" />
  <xacro:SimpleTransmissionEffort n="7" joint="j2_left" />
  <xacro:SimpleTransmissionEffort n="8" joint="j3_left" />
  <xacro:SimpleTransmissionEffort n="9" joint="j4_left" />
  <xacro:SimpleTransmissionEffort n="10" joint="j5_left" />
  <xacro:SimpleTransmissionEffort n="11" joint="j6_right_a" />
  <xacro:SimpleTransmissionEffort n="12" joint="j6_left_a" />
  <xacro:SimpleTransmissionEffort n="13" joint="j6_right_b" />
  <xacro:SimpleTransmissionEffort n="14" joint="j6_left_b" />

</robot>


